<div class="content-wrapper">
   <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#ffffff" type="ball-spin-clockwise">
      </ngx-spinner>
      <!-- Content Header (Page header) -->
      <div class="content-header">
         <div class="container-fluid">
            <div class="row mb-2">
               <div class="col-sm-6">
                  <h1 class="m-0 text-dark">E-Pooling</h1>
               </div>
               <!-- /.col -->
               <div class="col-sm-6">
                   
               </div>
               <!-- /.col -->
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <section class="content">
         <div class="container-fluid">
            <div class="card">
               <!-- /.card-header -->
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-3 mb-2">
                       <select class="form-control" id="villageId" (change)="GetePooling_villagedData($event.target.value)">
                     <option value="0" selected>- Village -</option>
                     <option value="{{bindList.villageId}}" *ngFor="let bindList of getVillageData">{{bindList.villageName}}</option>
                  </select>
                  </div>
                </div> 
                <div class="row" >
                  <div class="col-md-4 col-sm-6 col-12" *ngFor="let d of responceData">
                     <div>
                        <div class="info-box bg-warning"> 
                        
                           <div class="info-box-content" style="justify-content: initial;">
                              <div class="row">
                                 <span class="info-box-text" style="margin-left: 10px;border: 1px solid rgb(15, 15, 15);padding: 5px;">{{d.voterNo}}</span>
                                 <span class="info-box-text" style="padding: 5px;">{{d.voterCardNo}}</span> 
                                 <span class="info-box-text" style="padding: 5px;width: 30px;border-radius: 20px" [style.background-color]="d.status == 'true' ? 'green' : 'red'">
                                 
                                 </span> 
                              </div> 
                              <table>
                                 <tr>
                                    <td>
                                       <span class="info-box-text mt-1">Voter Name: </span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1" style="font-weight: bold;">{{d.voterName}}</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <span class="info-box-text mt-1">Father Name: </span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1" style="font-weight: bold;">{{d.fatherName}}</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <span class="info-box-text mt-1">Makan No:  </span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1" style="font-weight: bold;">{{d.houseNo}}</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <span class="info-box-text mt-1">Age: </span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1" style="font-weight: bold;">{{d.age}}</span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1">Gender: </span>
                                    </td>
                                    <td>
                                       <span class="info-box-text mt-1" style="font-weight: bold;">{{d.gender}}</span>
                                    </td>
                                 </tr>
                              </table>
                           </div> 
                        </div>                   
                      </div>
                    <!-- /.info-box -->
                  </div> 
                </div>
               </div>
               <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
      </section>
   </div>