<!-- /.modal -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1 class="m-0 text-dark">Password Allotment</h1>
            </div>
            <!-- /.col -->
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->
   <section class="content">
      <div class="container-fluid">
         <div class="card">
            <!-- /.card-header -->          
            <div class="card-body">
               <form>
                  <!-- <form (ngSubmit)="SaveData()"> -->
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                           <select class="form-control" id="role" name="role"  (change)="GetPasswordAllotmentList($event.target.value)">
                              <option value="0" disabled selected>- Select Role -</option>
                              <option value="Agent">Agent</option>
                              <option value="PagePrabhari">Page Prabhari</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <button type="button" id="s" class="btn btn-info" (click)="SaveData()">Save</button>  
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <div class="msgagr"></div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <table class="table table-bordered table-striped" id="tableData">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Father</th>
                                 <th>Conatct No</th>
                                 <th>Designation</th>
                                 <th>Address</th>
                                 <th>UserName</th>
                                 <th>Password</th>
                                 <th>IsActive</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let responce of responceData | paginate: {id:'dataTable',itemsPerPage:10, currentPage:pageNo, totalItems:totalRecords }">
                              <!-- <tr *ngFor="let responce of getData"> -->
                                 <td hidden><input type="text" class="txtmain" value="{{responce.userid}}" readonly hidden></td> 
                                 <td>{{responce.name}}</td>
                                 <td>{{responce.father}}</td>
                                 <td>{{responce.contact}}</td>
                                 <td>{{responce.role}}</td> 
                                 <td>{{responce.address}}</td>
                                 <td><input type="text" class="form-control txtmain1" value="{{responce.userName}}"></td>
                                 <td><input type="password" class="form-control txtmain2" value="{{responce.password}}"></td>
                                 <td> 
                                    <input type="checkbox" class="txtmain3" value="{{responce.isActive}}" [checked]="responce.isActive" />
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div style="padding: 5px 0; ">
                           <p style="float: left">Showing {{totalRecords}} entries</p>
                           <pagination-controls id="dataTable" maxSize="10" directionLinks="true" (pageChange)="pageNo=$event" style="float: right;"></pagination-controls>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <!-- /.card-body -->
         </div>
         <!-- /.card -->
      </div>
   </section>
</div>