<!-- /.modal -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1 class="m-0 text-dark">Booth Allotment</h1>
            </div>
            <!-- /.col -->
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->
   <section class="content">
      <div class="container-fluid">
         <div class="card">
            <!-- /.card-header -->          
            <div class="card-body">
           <form>
             <!-- <form (ngSubmit)="SaveData()"> -->
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        <select class="form-control" id="villageId" name="villageId"  (change)="GetDataBind($event.target.value)">
                           <option value="0" disabled selected>- Select Village -</option>
                           <option value="{{bindList.villageId}}" *ngFor="let bindList of getVillageData">{{bindList.villageName}}</option>
                        </select>
                     </div>
                     <hr/>
                     <div class="form-group">
                        <select class="form-control" id="boothNo" name="boothNo" >
                           <option value="0" disabled selected>- Select Booth No -</option>
                           <option value="{{bindList.boothNo}}" *ngFor="let bindList of getBoothNoData">BoothNo-{{bindList.boothNo}}</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control" name="areaName"  placeholder="Area Name"  id="areaName">
                     </div>
                     <div class="form-group">
                        <button type="button" class="btn btn-info" (click)="SaveData()">Save Allot Data</button>  
                        <!-- (click)="CreateNew()" -->
                     </div>
                  </div>
                  <div class="col-md-9">
                     <table class="table table-bordered table-striped" id="tableData">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Head Name</th>
                              <th>Voter Name</th>
                              <th>Ward No</th>
                              <th>House No</th>
                              <th>Booth No</th>
                              <th>Booth Area</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let responce of responceData | paginate: {id:'dataTable',itemsPerPage:15, currentPage:pageNo, totalItems:totalRecords }">
                              <td><input type="checkbox" value="{{responce.voterId}}"/></td>
                              <td>{{responce.headName}} {{surname}}</td>
                              <td>{{responce.voterName}}</td>
                              <td>{{responce.wardNo}}</td>
                              <td>{{responce.houseNo}}</td>
                              <td>{{responce.boothNo}}</td>
                              <td>{{responce.boothArea}}</td>
                           </tr> 
                        </tbody>
                     </table>
                     <div style="padding: 5px 0; ">
                        <p style="float: left">Showing {{totalRecords}} entries</p>
                         <pagination-controls id="dataTable" maxSize="15" directionLinks="true" (pageChange)="pageNo=$event" style="float: right;"></pagination-controls>
                      </div>
                  </div>
               </div>
              </form>
            </div>
            <!-- /.card-body -->
         </div>
         <!-- /.card -->
      </div>
   </section>
</div>